<%- include("templates/encabezado") %>
<div class="usuact">
<h1>Usuarios activos</h1>
<h4>Producto: <%= nomProd %></h4>
<h4>Descripcion: <%= descProd %></h4>
<h4>Stock: <%= stockProd %> unidades</h4>
</div>
<%- include("templates/pie") %>